@charset 'gbk';

*{word-wrap:break-word}
*, body, div, span, ul, li, table, tbody, th, tr, td, img, a, input, select, option, p {margin:0;padding:0}
html, body {width:100%;margin:0 auto;text-align:left;padding:0;-webkit-text-size-adjust:none;font:12px/1.5 Î¢ÈíÑÅºÚ,ËÎÌå,serif,Arial,Verdana,Geneva,Helvetica,sans-serif;color:#3f3f3f;/*background-color:#f9f9f9*/}
textarea{resize:none}
*,body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset{margin:0;padding:0}
table{empty-cells:show;border-collapse:collapse}
caption,th{text-align:left;font-weight:400}
ul li,.xl li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em}
em,cite,i{font-style:normal}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
a img{border:none}
label{cursor:pointer}
img { border:none; }
*:focus{outline:0}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cl{zoom:1}

.fl{float:left}
.fr{float:right}
.rowLast{margin-right:0}
.colLast{margin-bottom:0}
.cutstr{vertical-align:text-bottom;word-wrap:normal;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;/* Opera */ text-overflow:ellipsis;/* IE, Safari (WebKit) */}
.clickbtn {-webkit-transform:translate(1px, 1px);transform:translate(1px, 1px)}

#ajaxwaitid{display:none;position:absolute;right:0;top:0;z-index:1;padding:0 5px;background:#D00;color:#FFF}

.bg-groups, .page-wrapper {
	width: 100%;
	min-width: 1168px;
	font-size: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.page-wrapper {
	position: relative;
}
.bg-group-top {
	width: 100%;
	height: 884px;
	background: transparent url(../i/bg-group-top.jpg) no-repeat scroll 50% 50%;
}
.bg-group-mid1 {
	width: 100%;
	height: 876px;
	background: transparent url(../i/bg-group-mid1.jpg) no-repeat scroll 50% 50%;
}
.bg-group-mid2 {
	width: 100%;
	height: 618px;
	background: transparent url(../i/bg-group-mid2.jpg) no-repeat scroll 50% 50%;
}
.bg-group-mid3 {
	width: 100%;
	height: 578px;
	background: transparent url(../i/bg-group-mid3.jpg) no-repeat scroll 50% 50%;
}
.top-cont {
	width: 1168px;
	height: 812px;
	margin: 0 auto;
	font-size: 0;
	overflow: hidden;
}
.banner {
	margin-top: 84px;
}
.ruler {
	width: 100%;
	height: 221px;
	padding: 116px 0 0 40px;
	color: #fffefe;
	font-size: 20px;
	background: transparent url(../i/ruler-bg.png) no-repeat scroll 24px 0;
}
.ruler>p {line-height:130%}
.ruler>p>span {color:#ffb72d;font-size:22px;}

.main-cont {
	width: 1060px;
	margin: 0 auto;
}
.slist-wrap {
	width: 1014px;
	margin: 0 auto;
}
.s-item {
	width: 326px;
	height: 228px;
	float: left;
	margin: 0 18px 40px 0;
	background: transparent url(../i/s-item-bg.png) no-repeat scroll right bottom;
}
.s-item.row-first {}
.s-item.col-first {}
.s-item.row-last {margin-bottom:0}
.s-item.col-last {margin-right:0}
.s-item-inner {
	width: 320px;
	height: 216px;
	padding: 4px 0 0 0;
	background-color: #fff;
}
.s-frame {
	width: 310px;
	height: 156px;
	margin: 0 auto 0;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 6px;
	overflow: hidden;
}
.s-frame-middle {
	width: 310px;
	height: 156px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.s-foot {
	height: 64px;
	padding: 0 0 0 26px;
}
.s-share, .s-download {
	display: block;
	float: left;
}
.s-download {
	width: 90px;
	height: 36px;
	margin: 10px 0 0 0;
	background: transparent url(../i/btn-download.png) no-repeat scroll 50% 50%;
}
.s-share {
	width: 68px;
	height: 24px;
	margin: 16px 28px 0 0;
	padding: 0 0 0 84px;
	font-size: 0;
	overflow: hidden;
	background: transparent url(../i/share-bg-txt.png) no-repeat scroll 0 50%;
}
.s-share-btn {
	width: 32px;
	height: 24px;
	display: inline-block;
	background: transparent url(../i/share-icon-bg.png) no-repeat scroll 50% 50%;
}
.share-weibo {
	margin-right: 2px;
	background-position: 2px 50%;
}

.share-qzone {
	background-position: -30px 50%;
}
.lottery-cont {
	width: 1030px;
	margin: 0 auto 0;
	margin: 142px auto 0;
	position: relative;
}
.roller-wrap {
	width: 730px;
	height: 546px;
	position: relative;
}
.roller {
	width: 184px;
	height: 184px;
	background: transparent url(../i/roller-bg.png) no-repeat scroll 50% 50%;
	background-size: 100% 100%;
	position: absolute;
}
.roller-inner {
	width: 184px;
	height: 184px;
	display: table-cell;
	vertical-align: middle;
    text-align: center;
	position: relative;
}
.roller-inner>img {
	max-width: 100%;
	max-height: 100%;
}
.roller-frame {
	width: 184px;
	height: 184px;
	display: none;
	background: transparent url(../i/roller-frame.png) no-repeat scroll 50% 50%;
	background-size: 100% 100%;
	position: absolute;
	left: -3px;
	top: -3px;
}
.roller.active .roller-frame {
	display: block;
}
.roller-1 {
	left: 0;
	top: 0;
}
.roller-2 {
	left: 182px;
	top: 0;
}
.roller-3 {
	left: 364px;
	top: 0;
}
.roller-4 {
	left: 546px;
	top: 0;
}
.roller-5 {
	left: 546px;
	top: 181px;
}
.roller-6 {
	left: 546px;
	top: 362px;
}
.roller-7 {
	left: 364px;
	top: 362px;
}
.roller-8 {
	left: 182px;
	top: 362px;
}
.roller-9 {
	left: 0;
	top: 362px;
}
.roller-10 {
	left: 0;
	top: 181px;
}
.lottert-btn {
	width: 342px;
	height: 154px;
	background: transparent url(../i/lottery-btn-bg.png) no-repeat scroll 100% 100%;
	position: absolute;
	left: 194px;
	top: 196px;
}
.lottert-btn-inner {
	width: 336px;
	height: 148px;
	display: block;
	background: transparent url(../i/lottery-btn.png) no-repeat scroll 0 0;
}
.award-intro {
	width: 264px;
	height: 370px;
	padding: 142px 0 0 136px;
	line-height: 200%;
	font-size: 18px;
	color: #6c6c6c;
	background: transparent url(../i/award-intro-bg.png) no-repeat scroll 50% 50%;
	background-size: 100% 100%;
	position: absolute;
	right: 6px;
	bottom: 0;
}
.name-cont {
	width: 100%;
	height: 416px;
	margin: 72px 0 0 0;
	position: relative;
	background: transparent url(../i/bg-group-foot.png) no-repeat scroll 50% 100%;
}
.name-list-title {
	width: 100%;
	height: 106px;
	background: transparent url(../i/name-list-title.png) no-repeat scroll 50% 50%;
	position: absolute;
	left: 0;
	top: 0;
}
.name-list {
	width: 712px;
	height: 218px;
	margin: 0 auto;
	padding: 82px 0 0 0;
	background: transparent url(../i/name-list-bg.png) no-repeat scroll 50% 100%;
}
.name-list-inner {
	width: 684px;
	height: 190px;
	margin: 14px 0 0 14px;
	overflow: hidden;
	position: relative;
}
.name-ul {
	width: 100%;
	height: 100%;
	/* line-height: 200%; */
	text-align: center;
	font-size: 20px;
	color: #777775;
}
.name-ul>div {
	width: 100%;
	height: 100%;
	padding: 0 0;
}
.swiper-container {
	width: 100%;
	height: 100%;
	z-index: 0;
}
.swiper-slider {
	text-align: center;
    font-size: 20px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.sidebar-wrap {
	width: 184px;
	padding: 126px 0 0 0;
	background: transparent url(../i/sidebar-bg.png) no-repeat scroll 50% 100%;
	position: fixed;
	right: 24px;
	bottom: 10%;
}
.sidebar-title {
	width: 100%;
	height: 169px;
	background: transparent url(../i/sidebar-title.png) no-repeat scroll 50% 50%;
	position: absolute;
	left: 0;
	top: 0;
}
.sidebar-cont {
	width: 100%;
	height: 412px;
	font-size: 0;
	overflow: hidden;
}
.tryleft-info {
	width: 412px;
	height: 116px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.anchor-download {
	width: 100%;
	height: 70px;
	display: block;
	margin: 4px auto 4px;
	font-size: 0;
	overflow: hidden;
}
.anchor-lottery, .anchor-manhua, .anchor-share {
	width: 100%;
	height: 70px;
	display: block;
	margin: 0 auto 4px;
	font-size: 0;
	overflow: hidden;
}
.anchor-share {
	width: auto;
	padding: 0 0 0 88px;
}
.anchor-share-btn {
	width: 36px;
	height: 30px;
	margin: 18px 0 0 0;
	display: inline-block;
	font-size: 0;
	background: transparent url(../i/share-icon-bg2.png) no-repeat scroll 0 0;
}
.anchor-share-weibo {margin-right:2px;background-position: 0 0;}
.anchor-share-qzone {background-position: -42px 0;}

/* popbox */
.popbox-cover {
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
}
.popbox-wrap {
	width: 536px;
	height: 680px;
	font-size: 0;
	overflow: hidden;
	position: fixed;
	_position: absolute;
	left: 30%;
	top: 20%;
	z-index: 999;
}
.popbox-bg {
	position: absolute;
	left: -140px;
	top: -192px;
}
.popbox-cont {
	width: 100%;
	height: 100%;
	background: transparent url(../i/popbox-bg.png) no-repeat scroll 50% 50%;
	position: relative;
}
.popbox-cont-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent no-repeat scroll 50% 50%;
}
.popbox-btn-wrap {
	width: 100%;
	height: 60px;
	margin: 536px auto 0;
	font-size: 0;
	text-align: center;
}
.popbox-btn {
	height: 60px;
	display: inline-block;
	cursor: pointer;
	background: transparent no-repeat scroll 50% 50%;
}
.popbox-btn-download {
	width: 150px;
	background-image: url(../i/popbox-btn-download-bg.png);
}
.popbox-btn-share-weibo {
	width: 150px;
	background-image: url(../i/popbox-btn-share-weibo-bg.png);
}
.popbox-btn-share-qzone {
	width: 150px;
	background-image: url(../i/popbox-btn-share-qzone-bg.png);
}
.popbox-btn-save {
	width: 175px;
	border: none;
	background-image: url(../i/popbox-btn-save-bg.png);
}
.popbox-btn-tryagain {
	width: 175px;
	border: none;
	background-image: url(../i/popbox-btn-tryagain-bg.png);
}
#no-tryleft .popbox-cont-inner {
	background-image: url(../i/popbox-no-tryleft-bg.png);
	background-position: 50% 58px;
}
#hited .popbox-cont-inner {
	background-image: url(../i/popbox-hited-bg.png);
	background-position: 50% 58px;
}
#not-hits .popbox-cont-inner {
	background-image: url(../i/popbox-not-hit-bg.png);
	background-position: 50% 58px;
}
#hits .popbox-cont-inner {
	background-image: url(../i/popbox-hits-bg.png);
	background-position: 50% 108px;
}
.popbox-title {
	margin: 60px 0 0 0;
	color: #ff6000;
	font-size: 28px;
	text-align: center;
}
.fieldtr {
	width: 421px;
	height: 53px;
	margin: 8px auto 0;
	background: transparent url(../i/field-bg.png) no-repeat scroll 50% 50%;
	background-size: 100% 100%;
}
.fieldtr input {
	width: 310px;
	height: 100%;
	display: block;
	padding: 0 11px 0 100px;
	border: none;
	font-size: 20px;
	background: transparent url(../i/form-field-bg.png) no-repeat scroll 0 0;
	outline: none;
}
input.input-name {
	background-position: 20px 12px;
}
input.input-tel {
	background-position: 20px -50px;
}
input.input-email {
	background-position: 20px -110px;
}
input.input-addr {
	background-position: 20px -170px;
}

.lottert-btn.ani, .lottert-btn-inner.ani{
	-webkit-animation: orangellowPulse 3s linear 0s infinite normal both running;
	-moz-animation: orangellowPulse 3s linear 0s infinite normal both running;
	-ms-animation: orangellowPulse 3s linear 0s infinite normal both running;
	animation: orangellowPulse 3s linear 0s infinite normal both running;
}
.lottert-btn-inner.ani {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
@-webkit-keyframes orangellowPulse {
  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes orangellowPulse {
  from { background-color: #fc9200; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -moz-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -moz-box-shadow: 0 0 9px #333; }
}
@-ms-keyframes orangellowPulse {
  from { background-color: #fc9200; -ms-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -ms-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -ms-box-shadow: 0 0 9px #333; }
}
@keyframes orangellowPulse {
  from { background-color: #fc9200; box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes orangePulse {
  from { background-color: #d45500; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -moz-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -moz-box-shadow: 0 0 9px #333; }
}
@-ms-keyframes orangePulse {
  from { background-color: #d45500; -webkit-ms-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-ms-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-ms-shadow: 0 0 9px #333; }
}
@keyframes orangePulse {
  from { background-color: #d45500; box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes greenPulse {
  from { background-color: #749a02; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -moz-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -moz-box-shadow: 0 0 9px #333; }
}
@-ms-keyframes greenPulse {
  from { background-color: #749a02; -ms-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -ms-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -ms-box-shadow: 0 0 9px #333; }
}
@keyframes greenPulse {
  from { background-color: #749a02; box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; box-shadow: 0 0 9px #333; }
}