<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>鹿娘带你打破次元壁</title>
<meta name="keywords" content="鹿娘带你打破次元壁" />
<meta name="description" content="鹿娘带你打破次元壁" />
<meta http-equiv="X-UA-Compatible" content="IE=10;chrome=1;" />
<meta charset="utf-8" />
<link rel="stylesheet" href="static/c/style.css" />
<link rel="stylesheet" type="text/css" href="static/c/jquery.fancybox-1.3.4.css" />
<style type="text/css">html,body{font:12px/1.5 "Hiragino Sans GB",微软雅黑,宋体,serif,Arial,Verdana,Geneva,Helvetica,sans-serif;}</style>
</head>
<body>
<div id="append_parent"></div><div id="ajaxwaitid"></div>

</body>
<script type="text/javascript" src="static/j/jquery-2.1.0.min.js" ></script>
<script type="text/javascript" src="static/j/jquery.form.min.js"></script>
<script type="text/javascript" src="static/j/jquery.cookie.js"></script>
<script type="text/javascript" src="static/j/common.js"></script>
<script type="text/javascript" src="static/j/share.js"></script>
</html>