<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>鹿娘带你进击二次元</title>
<meta name="keywords" content="鹿娘带你进击二次元" />
<meta name="description" content="鹿娘带你进击二次元" />
<meta http-equiv="X-UA-Compatible" content="IE=10;chrome=1;" />
<meta charset="utf-8" />
<link rel="stylesheet" href="static/c/swiper.min.css" />
<link rel="stylesheet" href="static/c/style.css" />
<style type="text/css">html,body{font:12px/1.5 "Hiragino Sans GB",微软雅黑,宋体,serif,Arial,Verdana,Geneva,Helvetica,sans-serif;}</style>
</head>
<body>
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div class="bg-groups">
	<div class="bg-group-top"></div>
	<div class="bg-group-mid1"></div>
	<div class="bg-group-mid2"></div>
	<div class="bg-group-mid3"></div>
</div>
<div class="page-wrapper">
	<div class="top-cont">
		<img class="banner" src="static/i/banner.png" />
		<div class="ruler">
			<p>1.<span>下载、分享</span>网易漫画定制皮肤即可获得<span>1次抽奖机会</span>；</p>
			<p>2.每位用户每天最多共<span>12次抽奖机会</span>，次日清零重新累计；</p>
			<p>3.每位用户只有一次中奖机会，以首次中奖为准；</p>
			<p>4.活动结束后会在一个月内发放奖品；</p>
			<p>5.输入个人信息有误将视为弃权处理；</p>
			<p>6.本活动最终解释权归搜狗输入法所有。</p>
		</div>
	</div>
	<div class="main-cont">
		<div class="slist-wrap cl">
			<div class="s-item">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561735?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954593939682_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561735&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561741?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954598392117_former.gif" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561741&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item col-last">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561731?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954568709235_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561731&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561729?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954556016459_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561729&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561739?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954596341891_former.gif" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561739&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item col-last">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561717?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954541935660_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561717&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561719?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954544759496_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561719&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561727?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954554007877_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561727&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item col-last">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561733?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954592057723_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561733&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item row-last">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561737?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954595354714_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561737&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item row-last">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561725?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954549071600_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561725&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="s-item row-last col-last">
				<div class="s-item-inner">
					<div class="s-frame"><a class="s-frame-middle" href="http://pinyin.sogou.com/skins/detail/view/info/561713?f=achome_p" target="_blank"><img src="https://imedl.sogoucdn.com/cache/skins/uploadImage/2017/05/22/14954435615345_former.jpg" /></a></div>
					<div class="s-foot cl">
						<div class="s-share">
							<a href="javascript:;" class="s-share-btn share-weibo">&nbsp;</a>
							<a href="javascript:;" class="s-share-btn share-qzone">&nbsp;</a>
						</div>
						<a class="s-download" href="https://pinyin.sogou.com/d/skins/download.php?skin_id=561713&rf=detail">&nbsp;</a>
					</div>
				</div>
			</div>
		</div>
	</div><!--//.main-cont-->
	<div class="lottery-cont">
		<div class="award-intro">
			<p>网易漫画一个月VIP(10元)</p>
			<p>网易漫画三个月VIP(30元)</p>
			<p style="margin:6px 0;line-height:110%;">鹿娘春日福袋：<br/>鹿娘钥匙扣+动漫卡贴(50元)</p>
			<p>动漫抱枕(66元)</p>
			<p>《中国怪谈》单行本(68元)</p>
			<p style="margin:6px 0;line-height:110%;">《中国怪谈》趣味福袋：<br/>卷纸+钥匙扣(78元)</p>
			<p>鹿娘保温杯(128元)</p>
			<p>《中国怪谈》T恤(138元)</p>
		</div>
		<div class="roller-wrap">
			<div class="roller roller-1 active" ord="1" atype="1">
				<div class="roller-inner"><img src="static/i/award-vip1.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-2" ord="2" atype="5">
				<div class="roller-inner"><img src="static/i/award-baozhen.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-3" ord="3" atype="3">
				<div class="roller-inner"><img src="static/i/award-chunri-fudai.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-4" ord="4" atype="8">
				<div class="roller-inner"><img src="static/i/award-tshirt.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-5" ord="5" atype="2">
				<div class="roller-inner"><img src="static/i/award-vip3.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-6" ord="6" atype="0">
				<div class="roller-inner"><img src="static/i/award-thanks.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-7" ord="7" atype="6">
				<div class="roller-inner"><img src="static/i/award-danhangben.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-8" ord="8" atype="7">
				<div class="roller-inner"><img src="static/i/award-cup.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-9" ord="9" atype="4">
				<div class="roller-inner"><img src="static/i/award-quwei-fudai.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<div class="roller roller-10" ord="10" atype="0">
				<div class="roller-inner"><img src="static/i/award-thanks.png" /></div>
				<span class="roller-frame"></span>
			</div>
			<a id="lottery-btn" class="lottert-btn" href="javascript:;" clickbtn="true"><span class="lottert-btn-inner ani"></span></a>
		</div>
	</div><!--//.lottery-cont-->
	<div class="name-cont">
		<div id="name-list" class="name-list">
			<div class="name-list-inner">
				<div class="swiper-container">
					<div class="name-ul swiper-wrapper">
						<div class="noer">暂无记录..</div>
					</div>
				</div>
			</div>
		</div>
		<div class="name-list-title"></div>
	</div><!--//.name-cont-->
</div><!--//.page-wrapper-->
<div class="sidebar-wrap">
	<div class="sidebar-title"></div>
	<div class="sidebar-cont">
		<div class="tryleft-info"></div>
		<a href="javascript:;" class="anchor-download"></a>
		<a href="javascript:;" class="anchor-lottery"></a>
		<a href="https://manhua.163.com/" class="anchor-manhua" target="_blank"></a>
		<div class="anchor-share">
			<a href="javascript:;" class="anchor-share-btn anchor-share-weibo">&nbsp;</a>
			<a href="javascript:;" class="anchor-share-btn anchor-share-qzone">&nbsp;</a>
		</div>
	</div>
</div>
<div class="popbox-cover"></div>
<div class="popbox-wrap" id="no-tryleft" style="display:none">
	<div class="popbox-cont">
		<div class="popbox-cont-inner">
			<div class="popbox-btn-wrap">
				<a href="javascript:iScrollTo('download');$('#no-tryleft,.popbox-cover').hide();try{MtaH5.clickStat('43')}catch(e){}" class="popbox-btn popbox-btn-download" style="margin-right:4px"></a>
				<a href="javascript:share_weibo();try{MtaH5.clickStat('44')}catch(e){}" class="popbox-btn popbox-btn-share-weibo" style="margin:0 4px 0"></a>
				<a href="javascript:share_qzone();try{MtaH5.clickStat('45')}catch(e){}" class="popbox-btn popbox-btn-share-qzone" style="margin-left:4px"></a>
			</div>
		</div>
	</div>
</div>
<div class="popbox-wrap" id="hits" style="overflow:visible;display:none">
	<img src="static/i/popbox-bubble.png" class="popbox-bg" />
	<div class="popbox-cont">
		<div class="popbox-cont-inner">
			<p class="popbox-title"></p>
			<form ajaxform="true" action="ajax/congratulation.php" method="post">
				<div class="fieldtr" style="margin-top:150px"><input class="input-name" type="text" name="realname" /></div>
				<div class="fieldtr"><input class="input-tel" type="text" name="telnumber" value="" /></div>
				<div class="fieldtr"><input class="input-email" type="text" name="email" value="" /></div>
				<div class="fieldtr"><input class="input-addr" type="text" name="addr" value="" /></div>
				<div class="popbox-btn-wrap" style="margin:44px auto 0;">
					<button onclick="javascript:try{MtaH5.clickStat('46')}catch(e){}" type="submit" class="popbox-btn popbox-btn-save" style="margin-right:22px"></button>
					<button onclick="javascript:try{MtaH5.clickStat('47')}catch(e){}" type="button" class="popbox-btn popbox-btn-tryagain" style="margin-left:22px"></button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="popbox-wrap" id="hited" style="display:none">
	<div class="popbox-cont">
		<div class="popbox-cont-inner">
			<div class="popbox-btn-wrap">
				<a href="javascript:share_weibo();try{MtaH5.clickStat('41')}catch(e){}" class="popbox-btn popbox-btn-share-weibo" style="margin-right:4px"></a>
				<a href="javascript:share_qzone();try{MtaH5.clickStat('42')}catch(e){}" class="popbox-btn popbox-btn-share-qzone" style="margin-left:4px"></a>
			</div>
		</div>
	</div>
</div>
<div class="popbox-wrap" id="not-hits" style="display:none">
	<div class="popbox-cont">
		<div class="popbox-cont-inner">
			<div class="popbox-btn-wrap">
				<a href="javascript:try{MtaH5.clickStat('40')}catch(e){};" class="popbox-btn popbox-btn-tryagain"></a>
			</div>
		</div>
	</div>
</div>
<!--maskshare微信-->
<div class="mask_share"><img src="static/i/mask_share.png" class="mask_shareimg"/></div>
</body>
<script type="text/javascript" src="static/j/jquery-2.1.0.min.js" ></script>
<script type="text/javascript" src="static/j/jquery.form.min.js"></script>
<script type="text/javascript" src="static/j/jquery.cookie.js"></script>
<script type="text/javascript" src="static/j/jquery.easing.min.js"></script>
<script type="text/javascript" src="static/j/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="static/j/swiper.min.js"></script>
<script type="text/javascript" src="static/j/common.js"></script>
<script type="text/javascript" src="static/j/page.js"></script>
<script type="text/javascript" src="static/j/share.js"></script>
<script type="text/javascript" src="data/skins.js"></script>
<script type="text/javascript" src="data/awards.js"></script>
<script type="text/javascript">
  	var _mtac = {};
  	(function() {
  		var mta = document.createElement("script");
  		mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.4";
  		mta.setAttribute("name", "MTAH5");
  		mta.setAttribute("sid", "500458003");
  		var s = document.getElementsByTagName("script")[0];
		var done = false;
		mta.onload = mta.onreadystatechange = function() {
			if (!done && (!this.readyState || this.readyState !== 'loading')) {
				done = true;
				try{MtaH5.clickStat('1')/*首页*/}catch(e){}
				var f = getUrlArg('f');
				if(f.length > 0) {}
				mta.onload = mta.onreadystatechange = null;
			}
		};
  		s.parentNode.insertBefore(mta, s);
  	})();
</script>
</html>